* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body, html {
    background-color: #c9ba9d;
}
/* HEADER SECTION */
header {
    background-color: #ff4436;
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    display: inline;
    margin: 20px;
}
header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.08s;
}
header nav ul li a:hover {
    border-bottom: 3px solid white;
}
.material-symbols-outlined {
    font-size: 40px;
    margin-left: 10px;
    color: white;
}
/* MAIN SECTION */
.hero-img {
    width: 100%;
    height: 450px;
    overflow: hidden;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
     url('../Images/cityscape.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 40%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.title {
    position: absolute;
    top: 6%;
    left: 4%;
}
.title h1, .title h3 {
    color: white;
    font-size: 150px;
    font-family: 'Lobster', sans-serif;
    margin-bottom: -40px;
    transform: rotate(-10deg);
    text-shadow: 4px 4px 1px black;
}
.title h3 {
    font-size: 40px;
}
.headline {
    position: absolute;
    top: 15%;
    left: 65%;
}
.headline h2 {
    color: white;
    font-size: 85px;
    font-family: 'Lobster', sans-serif;
    margin-bottom: -20px;
    transform: rotate(-4deg);
    text-shadow: 4px 4px 1px black;
}
/* MAIN CONTENT SECTION */
.main-content {
    /*border: 1px solid red;*/
}
.main-content-headline {
    text-align: center;
    padding-top: 30px;
}
.main-content-headline h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: 'Lobster', sans-serif;
    text-shadow: 2px 2px 1px black;
}
.main-content-headline p {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    color: #ff4436;
}
.inner-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 30px;
}
.card {
    padding: 80px 20px;
    background-color: #e7d9bb;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: .3s;
}
.card h3 {
    margin-bottom: 15px;
}
.card:hover {
    background-color: #ff4436;
    color: white;
    box-shadow: 4px 4px 20px black;
}