* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body, html {
    
}
/* HEADER SECTION */
header {
    background-color: #ff4436;
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    display: inline;
    margin: 20px;
}
header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.08s;
}
header nav ul li a:hover {
    border-bottom: 3px solid white;
}
.material-symbols-outlined {
    font-size: 40px;
    margin-left: 10px;
    color: white;
}
/* MAIN SECTION */
.hero-img {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
     url('../Images/cityscape.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 40%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading {
    margin: 40px;
}
.heading h1 {
    color: white;
    font-family: 'Lobster', sans-serif;
    text-shadow: 4px 4px 1px black;
    font-size: 60px;
}
.form {
    width: 30%;
    height: 70%;
    background-color: #c9ba9d;
    border-radius: 10px;
    display: flex;
    padding: 60px;
}
form input, textarea {
    width: 115%;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
textarea {
    resize: none;
}
.signup-container {
    position: relative;
    left: 40%;
}
.signup {
    color: white;
    background-color: #ff4436;
    border: none;
    padding: 20px 40px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
.signup:hover {
    background-color: #fd6156;
}
.signup::after {
    background-color: #b43026;
}
